*{
  box-sizing: border-box;
}
.App{
  max-width: 500px;
  margin: 30px auto;
  color: white;
  box-sizing: border-box;
}
.App h1{
  text-align: center;
}
form input {
  background-color: transparent;
  color: #ddd;
  padding:2px 5px;
  height:40px;
  width: 100%;
  border-radius: 5px;
}
form input[type="datetime-local"]{
  color: #777;
}
form .basics{
  display: flex;
  gap:5px;
  margin-bottom: 10px;
}
form input:focus{
  outline:none;
}
form button{
  width: 100%;
  margin-top: .5rem;
padding: 5px 7px;
height: 2rem;
}
form{
  margin-bottom: 2rem;
}
div.transaction{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding:5px 0;
}
div.transaction:first-child{
  border-top: none;

}
.left .description{
  font-size: 15px;
  color: #888;
}
.left  .name{
  font-size: 2rem;
}
.right .price{
  text-align: right;
  font-size: 1.7rem;
}
.right .date{
  font-size: 15px;
}
.green{
  color: #1c1;
}
.red{
  color: red;
}
div.transaction div.date{
  font-size: 15px;
  color: #888;

}